@model List<Blog>

@foreach (var blog in Model)
{ @if (blog.IsVideo)
    {

    }
    else
    {
        <div class="col-lg-4">
            <div class="single-blog">
                <div class="blag-image">
                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"><img src="~/assets/images/@blog.ImageUrl" alt="Blog"></a>
                    <p class="meta-date">
                        <span class="day">@blog.CreatedTime.ToString("dd")</span>
                        <span class="month">@blog.CreatedTime.ToString("MMM")</span>
                    </p>
                </div>
                <div class="blag-content">
                    <h2 class="blog-title"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></h2>
                    <p>@blog.BlogDetail.ContentHeader.Substring(0,40)...</p>
                </div>
            </div> <!-- single blog -->
        </div>
    }
}